* {
    text-align: center;
}

.progress-div {
    background-color: rgb(233, 233, 233);

    width: 800px;
}

.progress {
    background-color: rgb(231, 105, 107);
    width: 800px;
    height: 10px;

    transition: 1s ease;
    transition-delay: 0.5s;
}

.navbar {
    background-color: rgb(231, 105, 107);
}
